body {
    background-color: white);
}

header {
    border-radius: 5px;
    height: auto;
    text-align: center;
    background-color: rgb(192, 149, 233);
}

.ContactDetails {
    width: 70%;
    border: 0px;
    border-spacing: 5%;
}

td {
    padding-top: 10px;
    width: 100px;
}

.article {
    min-width: 150px;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    background-color: white;
    /* background-color: tomato;*/
}

article h2 {
    padding-top: 10px;
}

footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 20px;
    width: 150px;
    border-radius: 4px;
    height: 30px;
    color: white;
    font-size: 18px;
    float: right;
    border: none;
    background-color: rgb(175, 102, 243);
}

/*
.slotbooking-container{
    
    
    width: 40%;
    height: 200px;
    
}
*/
.slotimage img {
    width: 100%;
    position: absolute;
    float: right;
    right: 5px;
    width: 540px;
    height: 850px;
}

input {
    width: 300px;
    border: none;
    background-color: white;
    border-bottom: 1px solid gray;
    height: 30px;
}

input,
label,
h3,
#district {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#district {
    height: 50px;
}

/* combinator selector */
header p {
    text-align: left;
}

article h3 {
    font-family: Helvetica;
    letter-spacing: 2px;
}

/* pseudo class selector */
input:focus {
    outline: none !important;
    border: none;
    border-bottom: 1px solid black;
}

/* pseudo element selector */
header p::first-line {
    font-weight: bold;
    color: rgb(76, 0, 255);
}

article h3::after {
    content: "*";
    color: red;
}

/* attribute selector */
input[name^="option"] {
    width: 20px;
    height: 20px;
}